.btn{
  background: blue;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 2px 2px lightgray;
  text-transform: uppercase;
  margin: 15px;
}
.red{
  background: red;
}
.green{
  background: green;
}